/* Yasin's CSS code (5 - 284). */


* {
  margin: 0;
  padding: 0;
  background-color: #424040;
  box-sizing: border-box;
}



#logo {
  height: 110px;
  width: 110px;
  position: absolute;
}

nav {
  display: flex;
  height: 110px;
  width: 100%;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 0%;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding-right: 8rem;
}

li a:hover:not(.active) {
  background: #2b2929;
}

 /*#achtergrondvideo {
  position: absolute;
   height: 500px;
   width: 1100px;
   margin-bottom: 600px;
   margin-right: 100px;
  }*/

.achtergrondfoto {
  background: #000000;
}

.sockdart {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60%;
    right: -20%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
  
/* Schoenen pagina */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex-basis: 250px;
  background-color: #f2f2f2;
  padding: 20px;
}

aside h2 {
  margin-top: 0;
}

aside label {
  display: block;
  margin-bottom: 5px;
}

aside select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

aside input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

aside button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 20px;
}

ul.products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

li {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

li img {
  width: 100px;
  height: 100;
  margin-bottom: 10px;
}

li h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

li p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

li span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Contact pagina */



.contact {
  margin-top: 10px;
	position: relative;
	width: 100%;
	height: 130%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/sneakercontact.jpeg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact-box {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left {
	background: url("img/sneakercontact.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right {
	padding: 25px 40px;
}

#contacth2 {
	position: relative;
  padding: 1px;
	margin-bottom: 10px;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.field {
	width: 100%;
	border: 2px solid rgba(255, 255, 255, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}




textarea {
	min-height: 150px;
}

.contactbtn {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.contactbtn:hover {
  background-color: #302b2b;
}

.field:focus {
  background-color: #fff;
} 


  .Diego {
    margin-top: 170px;
    margin-right: 700px;
  }

  .Aryan {
    margin-left: 730px;
  }
  
  .Aryan h2 {
    margin-left: 265px;
  }

  .Yasin {
    margin-right: 700px;
  }

  .Daniel {
    margin-left: 730px;
  } 

  .Daniel h2 {
    margin-left: 275px;
  }

  .Berkay {
    margin-right: 700px;
  }

  .overons img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

  .overons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  .overons p {
    max-width: 70%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
  .overons h2 {
    color: white;
    font-size: 5vh;
    display: flex;
}
  .overons div {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.OverOnsP{
  margin-top: 5vh;
}
.OverOnsH{
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.OverOnsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OverOnsArticle {
  color: #1a222c;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 15vh 0px 15vh 0px;
}
/* :) */
/* Diego's CSS code (292 - ). */



footer {
  position: relative;
  bottom: 0%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  height: 9vh;
  width: 100%;
  background: #222222;
  color: white;
}