* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #424040;
 }
body {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 60px auto 60px;
  grid-template-areas: 
  "hd hd"
  "nav nav"
  "main main"
  "footer footer"
  ;
}
.header{
  display: grid;
  grid-area: hd;
  width: 100%;
  height: 20vh;
  background-color: #424040;
}
.header p{
  font-size: 100px;
}
#logo{
  height: 250px;
  width: 250px;
  position: absolute;
  }
  .nav{
    display: grid;
    grid-area: nav;
    width: 100%;
    height: 10vh;
  
  }
  .nav ul li a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    color: white;
    font-size: 25px;
  }
  .nav a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    color: #ffde59;
  }
  .nav li{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding: 5px;
    color: #ffde59;
  }
  .nav ul{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding: 5px;
    color: #ffde59;
  }